span.badge #1
.btn-group#constraints-element-2(style="display:inline-block")
	a.btn.btn-small.dropdown-toggle(data-toggle="dropdown",href="")
		|Choose a execution
		span.caret
	ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
		li
			a(href="") Ipcan session
		li.dropdown-submenu
			a(href="",tabindex="-1") Usage record
			ul.dropdown-menu
				li
					a(href="") Downlink
				li
					a(href="") Uplink
				li.dropdown-submenu
					a(href="") TotalLink
					ul.dropdown-menu
						li
							a asdfasdf
							a asdfsdf

input.input-mini(type="text",style="display:inline-block;position:relative;margin:0 4px;",placeholder="Set Param")
input.input-mini(type="text",style="display:inline-block;position:relative;margin:0 4px;",placeholder="Set Param")
input.input-mini(type="text",style="display:inline-block;position:relative;margin:0 4px;",placeholder="Set Param")

a.btn-danger.btn.btn-mini.js-close-btn(style="position:absolute;right:1em;top:11px;")
	i.icon-minus-sign.icon-white
