.pull-left(style="padding:0 20px")
	img.top-logo(src="../img/top-logo.png")
.pull-left.span10
	h1 PCRF System
	.btn-group
		a.btn
			i.icon-home
		a.btn Policy Management
		a.btn Subscription Configuration
		a.btn PCEF Management
		a.btn System Configuration
		a.btn
			i.icon-off
			|Exit
