.well-small.well.well-bgwhite
						blockquote
							h3 Tips:
							p Set up the policy.Just click !

table.table.table-striped.table-bordered(style="background-color:white")
	thead
		tr
			th Workflow Policy
			th Last edit time
			th Operation
	tbody
		tr
			td CCRI
			td 2012-12-21
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td CCRU
			td 2012-12-21
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td CCRT
			td 2012-12-21
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td RAR
			td 2012-12-21
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td NONAME
			td 2012-12-21
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
