form.well-small.well.form-inline.well-bgdark
	h4.search-title.margin-top-bottom-small Filter service component
	input.input-small(type="text",placeholder="Name")
	input.input-small(type="text",placeholder="Name")
	input.input-small(type="text",placeholder="Name")
	select.input-small
		option a
		option b
	a.btn(style="margin-left:4px")
		i.icon-search
		|Search