table.table.table-striped.table-bordered(style="background-color:white")
	thead
		tr
			th Service Component Name
			th Status
			th Operation
	tbody
		tr
			td QQ
			td Ok
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td QQ
			td Ok
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td QQ
			td Ok
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td QQ
			td Ok
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
		tr
			td QQ
			td Ok
			td
				a.badge.badge-info Edit
				a.badge.badge-warning Disable
				a.badge.badge-success Restore
				a.badge.badge-important Delete
