link(rel="stylesheet",type="text/css",href="../bootstrap/css/bootstrap.css")
link(rel="stylesheet",type="text/css",href="../bootstrap/css/bootstrap-responsive.css")
link(rel="stylesheet",type="text/css",href="../css/index.css")
link(rel="stylesheet",type="text/css",href="../css/chosen.css")
link(rel="stylesheet",type="text/css",href="../css/bootstrap-datetimepicker.css")
link(rel="stylesheet",type="text/css",href="../css/jquery.gentleSelect.css")
link(rel="stylesheet",type="text/css",href="../css/jquery-cron.css")

//- link(rel="stylesheet",type="text/css",href="../css/jqpagination.css")

script(type="text/javascript",src="../js/jquery.min.js")
script(type="text/javascript",src="../bootstrap/js/bootstrap.min.js")
script(type="text/javascript",src="../js/chosen.jquery.js")
script(type="text/javascript",src="../js/chosen.ajax.jquery.js")
script(type="text/javascript",src="../js/base.js")
script(type="text/javascript",src="../js/jquery.jqpagination.js")
script(type="text/javascript",src="../js/jquery.form.js")
script(type="text/javascript",src="../js/jquery.validate/jquery.validate.js")
script(type="text/javascript",src="../js/jquery.disable.1.0.js")
script(type="text/javascript",src="../js/pma.js")
script(type="text/javascript",src="../js/datepicker/bootstrap-datetimepicker.min.js")
script(type="text/javascript",src="../js/timeHelper.js")
script(type="text/javascript",src="../js/jquery-cron.js")
script(type="text/javascript",src="../js/jquery.gentleSelect.js")

meta(charset="utf-8")