
ul.nav.nav-list
	li 
		a(href="a") 
			span.navi-item Period
			span.navi-item-sub Set Period policy
	li.divider
	li
		a(href="a") 
			span.navi-item Descriptor File
			span.navi-item-sub Manage Descriptor file
	li
		a(href="a") 
			span.navi-item PCC
			span.navi-item-sub Manage PCC Rule
	li.divider
	li
		a(href="a") 
			span.navi-item Threshold
			span.navi-item-sub Build Threshold name list
	li
		a(href="a") 
			span.navi-item Metering
			span.navi-item-sub Manage Metering
	li
		a(href="a") 
			span.navi-item Service Component
			span.navi-item-sub Manage Service Component
	li
		a(href="a") 
			span.navi-item User Profile set
			span.navi-item-sub Manage User Profile
