.well
	ul.main_statistic
		li
			|There are 
			a 40 
			| users subscribed in this pcrf system.
		li
			|Group by user type in descent order:		
			ul.unstyled.sub_statistic
				li
					|金牌: 
					a  20
				li
					|金牌: 
					a  15
				li
					|金牌: 
					a  5
				div(style="clear:both")
		li
			|Group by service package which user signed in descent order:		
			ul.unstyled.sub_statistic
				li
					|金牌动感: 
					a  20
				li
					|银牌XX: 
					a  15
				li
					|铜牌！！: 
					a  5
				div(style="clear:both")