form#js-validate
	.well-small.well.well-bgwhite
		blockquote
			h3 Tasks:
			p There are 
				span.label.label-success 4
				| 
				| tasks todo

		ul.unstyled
			li
				label Name
				input.required(type="text")
				.help-block This is name
			li.control-group.error
				label Name
				input(type="text")
				.help-inline Eror here
			li
				label Choose it
				select.js-select
					option a
					option b

			
		
				
	.form-actions
		button.btn.btn-large.btn-primary(type="submit") Submit
		button.btn.btn-large Cancel
