doctype 
html
	head
		include includes/meta
	
		.well.hero-unit(style="width:450px;margin:120px auto 0")
			h1 PCRF System
			br
			h2 
				|By Baoyun networks
				img(src="../img/small-logo.png",style="width:30px;height:30px;margin-left:8px;margin-top:-3px;")
			br
			br
			form.form-inline
				input.span2(type="text",placeholder="Name")
				input.span2(type="text",placeholder="Password")
			button.btn-primary.btn.btn-large Login
			div(style="margin-top:46px;margin-bottom:-40px;color:#999;text-align:center;")
				|Copyright © 2012 Baoyunnetworks
