doctype basic
html
	head
		include includes/meta
	body.container
		.row-fluid.margin-top-bottom
			include includes/header
		.row-fluid
			.span3.well(style="padding: 8px 0;")
				include includes/sidebar
			.span9
				include includes/breadcrumb
				include includes/tabs
		.row-fluid
